# Quiz 1: Food vs Feed (30 minutes)

Name: Muhammad Zafeeruddin Bin Mohamed Sakriya

Matric No: MAN 171059

## Overview

The Food and Agriculture Organization of the United Nations provides free access to food and agriculture data for over 245 countries and territories, from the year 1961 to the most recent update (depends on the dataset). One dataset from the FAO's database is the Food Balance Sheets. It presents a comprehensive picture of the pattern of a country's food supply during a specified reference period, the last time an update was loaded to the FAO database was in 2013. The food balance sheet shows for each food item the sources of supply and its utilization. This chunk of the dataset is focused on two utilizations of each food item available:

Food - refers to the total amount of the food item available as human food during the reference period.
Feed - refers to the quantity of the food item available for feeding to the livestock and poultry during the reference period.

### Instructions
1. Download FAO.csv
2. Read and create Dataframe from the CSV file
Note: The CSV file is Latin1-encoded. Read in the file using, e.g., fao = pd.read_csv("fao.csv", encoding='latin1')
3. Answer the questions by editing this notebook:
    a. What is your strategies to find the outliers of the data?  What type of visualization is the most suitable to find outliers?
    b. Compare between food and feed consumption. Explain your strategies (the steps that you are going to do).

In [70]:
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl

In [72]:
fao = pd.read_csv('/Users/UsersMac/Desktop/FAO.csv', encoding='latin1')
df = pd.read_csv('/Users/UsersMac/Desktop/FAO.csv', encoding='latin1', sep=',', na_values='.')

In [74]:
fao.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [6]:
fao.describe()

,Area Code,Item Code,Element Code,latitude,longitude,Y1961,Y1962,Y1963,Y1964,Y1965,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
count,21477.000000,21477.000000,21477.000000,21477.000000,21477.000000,17938.000000,17938.000000,17938.000000,17938.000000,17938.000000,...,21128.000000,21128.000000,21373.000000,21373.000000,21373.000000,21373.000000,21373.000000,21373.000000,21477.000000,21477.000000
mean,125.449411,2694.211529,5211.687154,20.450613,15.794445,195.262069,200.782250,205.464600,209.925577,217.556751,...,486.690742,493.153256,496.319328,508.482104,522.844898,524.581996,535.492069,553.399242,560.569214,575.557480
std,72.868149,148.973406,146.820079,24.628336,66.012104,1864.124336,1884.265591,1861.174739,1862.000116,2014.934333,...,5001.782008,5100.057036,5134.819373,5298.939807,5496.697513,5545.939303,5721.089425,5883.071604,6047.950804,6218.379479
min,1.000000,2511.000000,5142.000000,-40.900000,-172.100000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-169.000000,-246.000000
25%,63.000000,2561.000000,5142.000000,6.430000,-11.780000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,120.000000,2640.000000,5142.000000,20.590000,19.150000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,8.000000,8.000000,8.000000
75%,188.000000,2782.000000,5142.000000,41.150000,46.870000,21.000000,22.000000,23.000000,24.000000,25.000000,...,75.000000,77.000000,78.000000,80.000000,82.000000,83.000000,83.000000,86.000000,88.000000,90.000000
max,276.000000,2961.000000,5521.000000,64.960000,179.410000,112227.000000,109130.000000,106356.000000,104234.000000,119378.000000,...,360767.000000,373694.000000,388100.000000,402975.000000,425537.000000,434724.000000,451838.000000,462696.000000,479028.000000,489299.000000

In [8]:
print(fao)

      Area Abbreviation  Area Code         Area  Item Code  \
0                   AFG          2  Afghanistan       2511
1                   AFG          2  Afghanistan       2805
2                   AFG          2  Afghanistan       2513
3                   AFG          2  Afghanistan       2513
4                   AFG          2  Afghanistan       2514
5                   AFG          2  Afghanistan       2514
6                   AFG          2  Afghanistan       2517
7                   AFG          2  Afghanistan       2520
8                   AFG          2  Afghanistan       2531
9                   AFG          2  Afghanistan       2536
10                  AFG          2  Afghanistan       2537
11                  AFG          2  Afghanistan       2542
12                  AFG          2  Afghanistan       2543
13                  AFG          2  Afghanistan       2745
14                  AFG          2  Afghanistan       2549
15                  AFG          2  Afghanistan       2549
16                  AFG          2  Afghanistan       2551
17                  AFG          2  Afghanistan       2560
18                  AFG          2  Afghanistan       2561
19                  AFG          2  Afghanistan       2563
20                  AFG          2  Afghanistan       2571
21                  AFG          2  Afghanistan       2572
22                  AFG          2  Afghanistan       2573
23                  AFG          2  Afghanistan       2574
24                  AFG          2  Afghanistan       2575
25                  AFG          2  Afghanistan       2577
26                  AFG          2  Afghanistan       2579
27                  AFG          2  Afghanistan       2580
28                  AFG          2  Afghanistan       2586
29                  AFG          2  Afghanistan       2601
...                 ...        ...          ...        ...
21447               ZWE        181     Zimbabwe       2765
21448               ZWE        181     Zimbabwe       2766
21449               ZWE        181     Zimbabwe       2767
21450               ZWE        181     Zimbabwe       2775
21451               ZWE        181     Zimbabwe       2680
21452               ZWE        181     Zimbabwe       2905
21453               ZWE        181     Zimbabwe       2905
21454               ZWE        181     Zimbabwe       2907
21455               ZWE        181     Zimbabwe       2908
21456               ZWE        181     Zimbabwe       2909
21457               ZWE        181     Zimbabwe       2911
21458               ZWE        181     Zimbabwe       2912
21459               ZWE        181     Zimbabwe       2913
21460               ZWE        181     Zimbabwe       2913
21461               ZWE        181     Zimbabwe       2914
21462               ZWE        181     Zimbabwe       2918
21463               ZWE        181     Zimbabwe       2919
21464               ZWE        181     Zimbabwe       2922
21465               ZWE        181     Zimbabwe       2923
21466               ZWE        181     Zimbabwe       2924
21467               ZWE        181     Zimbabwe       2943
21468               ZWE        181     Zimbabwe       2945
21469               ZWE        181     Zimbabwe       2946
21470               ZWE        181     Zimbabwe       2949
21471               ZWE        181     Zimbabwe       2948
21472               ZWE        181     Zimbabwe       2948
21473               ZWE        181     Zimbabwe       2960
21474               ZWE        181     Zimbabwe       2960
21475               ZWE        181     Zimbabwe       2961
21476               ZWE        181     Zimbabwe       2928

                               Item  Element Code Element         Unit  \
0                Wheat and products          5142    Food  1000 tonnes
1          Rice (Milled Equivalent)          5142    Food  1000 tonnes
2               Barley and products          5521    Feed  1000 tonnes
3               Barley and products          5142    Food  1000 tonnes
4                Maize and products          5521    Feed  1000 tonnes
5                Maize and products          5142    Food  1000 tonnes
6               Millet and products          5142    Food  1000 tonnes
7                    Cereals, Other          5142    Food  1000 tonnes
8             Potatoes and products          5142    Food  1000 tonnes
9                        Sugar cane          5521    Feed  1000 tonnes
10                       Sugar beet          5521    Feed  1000 tonnes
11           Sugar (Raw Equivalent)          5142    Food  1000 tonnes
12                Sweeteners, Other          5142    Food  1000 tonnes
13                            Honey          5142    Food  1000 tonnes
14       Pulses, Other and products          5521    Feed  1000 tonnes
15       Pulses, Other and products          5142    Food  1000 tonnes
16                Nuts and products          5142    Food  1000 tonnes
17            Coconuts - Incl Copra          5142    Food  1000 tonnes
18                      Sesame seed          5142    Food  1000 tonnes
19     Olives (including preserved)          5142    Food  1000 tonnes
20                     Soyabean Oil          5142    Food  1000 tonnes
21                    Groundnut Oil          5142    Food  1000 tonnes
22                Sunflowerseed Oil          5142    Food  1000 tonnes
23             Rape and Mustard Oil          5142    Food  1000 tonnes
24                   Cottonseed Oil          5142    Food  1000 tonnes
25                         Palm Oil          5142    Food  1000 tonnes
26                   Sesameseed Oil          5142    Food  1000 tonnes
27                        Olive Oil          5142    Food  1000 tonnes
28              Oilcrops Oil, Other          5142    Food  1000 tonnes
29            Tomatoes and products          5142    Food  1000 tonnes
...                             ...           ...     ...          ...
21447                   Crustaceans          5142    Food  1000 tonnes
21448                   Cephalopods          5142    Food  1000 tonnes
21449               Molluscs, Other          5142    Food  1000 tonnes
21450                Aquatic Plants          5142    Food  1000 tonnes
21451                   Infant food          5142    Food  1000 tonnes
21452      Cereals - Excluding Beer          5521    Feed  1000 tonnes
21453      Cereals - Excluding Beer          5142    Food  1000 tonnes
21454                 Starchy Roots          5142    Food  1000 tonnes
21455                   Sugar Crops          5142    Food  1000 tonnes
21456            Sugar & Sweeteners          5142    Food  1000 tonnes
21457                        Pulses          5142    Food  1000 tonnes
21458                      Treenuts          5142    Food  1000 tonnes
21459                      Oilcrops          5521    Feed  1000 tonnes
21460                      Oilcrops          5142    Food  1000 tonnes
21461                Vegetable Oils          5142    Food  1000 tonnes
21462                    Vegetables          5142    Food  1000 tonnes
21463       Fruits - Excluding Wine          5142    Food  1000 tonnes
21464                    Stimulants          5142    Food  1000 tonnes
21465                        Spices          5142    Food  1000 tonnes
21466           Alcoholic Beverages          5142    Food  1000 tonnes
21467                          Meat          5142    Food  1000 tonnes
21468                        Offals          5142    Food  1000 tonnes
21469                   Animal fats          5142    Food  1000 tonnes
21470                          Eggs          5142    Food  1000 tonnes
21471       Milk - Excluding Butter          5521    Feed  1000 tonnes
21472       Milk - Excluding Butter          5142    Food  1000 tonnes
21473                 Fish, Seafood          5521    Feed  1000 tonnes
21474                 Fish, Seafood          5142    Food  1000 tonnes
21475       Aquatic Products, Other          5142    Food  1000 tonnes
21476                 Miscellaneous          5142    Food  1000 tonnes

       latitude  longitude  ...     Y2004   Y2005   Y2006   Y2007   Y2008  \
0         33.94      67.71  ...    3249.0  3486.0  3704.0  4164.0  4252.0
1         33.94      67.71  ...     419.0   445.0   546.0   455.0   490.0
2         33.94      67.71  ...      58.0   236.0   262.0   263.0   230.0
3         33.94      67.71  ...     185.0    43.0    44.0    48.0    62.0
4         33.94      67.71  ...     120.0   208.0   233.0   249.0   247.0
5         33.94      67.71  ...     231.0    67.0    82.0    67.0    69.0
6         33.94      67.71  ...      15.0    21.0    11.0    19.0    21.0
7         33.94      67.71  ...       2.0     1.0     1.0     0.0     0.0
8         33.94      67.71  ...     276.0   294.0   294.0   260.0   242.0
9         33.94      67.71  ...      50.0    29.0    61.0    65.0    54.0
10        33.94      67.71  ...       0.0     0.0     0.0     0.0     0.0
11        33.94      67.71  ...     124.0   152.0   169.0   192.0   217.0
12        33.94      67.71  ...       9.0    15.0    12.0     6.0    11.0
13        33.94      67.71  ...       3.0     3.0     3.0     3.0     3.0
14        33.94      67.71  ...       3.0     2.0     3.0     3.0     3.0
15        33.94      67.71  ...      17.0    35.0    37.0    40.0    54.0
16        33.94      67.71  ...      11.0    13.0    24.0    34.0    42.0
17        33.94      67.71  ...       0.0     0.0     0.0     0.0     0.0
18        33.94      67.71  ...      16.0    16.0    13.0    16.0    16.0
19        33.94      67.71  ...       1.0     1.0     0.0     0.0     2.0
20        33.94      67.71  ...       6.0    35.0    18.0    21.0    11.0
21        33.94      67.71  ...       0.0     0.0     0.0     0.0     0.0
22        33.94      67.71  ...       4.0     6.0     5.0     9.0     3.0
23        33.94      67.71  ...       0.0     1.0     3.0     5.0     6.0
24        33.94      67.71  ...       2.0     3.0     3.0     3.0     3.0
25        33.94      67.71  ...      71.0    69.0    56.0    51.0    36.0
26        33.94      67.71  ...       1.0     1.0     1.0     2.0     2.0
27        33.94      67.71  ...       0.0     0.0     0.0     0.0     0.0
28        33.94      67.71  ...       0.0     1.0     0.0     0.0     3.0
29        33.94      67.71  ...       2.0     2.0     8.0     1.0     0.0
...         ...        ...  ...       ...     ...     ...     ...     ...
21447    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0
21448    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0
21449    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0
21450    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0
21451    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0
21452    -19.02      29.15  ...      75.0    54.0    75.0    55.0    63.0
21453    -19.02      29.15  ...    1844.0  1842.0  1944.0  1962.0  1918.0
21454    -19.02      29.15  ...     223.0   236.0   238.0   228.0   245.0
21455    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0
21456    -19.02      29.15  ...     335.0   313.0   339.0   302.0   285.0
21457    -19.02      29.15  ...      63.0    59.0    61.0    57.0    69.0
21458    -19.02      29.15  ...       1.0     2.0     1.0     2.0     2.0
21459    -19.02      29.15  ...      36.0    46.0    41.0    33.0    31.0
21460    -19.02      29.15  ...      60.0    59.0    61.0    62.0    48.0
21461    -19.02      29.15  ...     111.0   114.0   112.0   114.0   134.0
21462    -19.02      29.15  ...     161.0   166.0   208.0   185.0   137.0
21463    -19.02      29.15  ...     191.0   134.0   167.0   177.0   185.0
21464    -19.02      29.15  ...       7.0    21.0    14.0    24.0    16.0
21465    -19.02      29.15  ...       7.0    11.0     7.0    12.0    16.0
21466    -19.02      29.15  ...     294.0   290.0   316.0   355.0   398.0
21467    -19.02      29.15  ...     222.0   228.0   233.0   238.0   242.0
21468    -19.02      29.15  ...      20.0    20.0    21.0    21.0    21.0
21469    -19.02      29.15  ...      26.0    26.0    29.0    29.0    27.0
21470    -19.02      29.15  ...      15.0    18.0    18.0    21.0    22.0
21471    -19.02      29.15  ...      21.0    21.0    21.0    21.0    21.0
21472    -19.02      29.15  ...     373.0   357.0   359.0   356.0   341.0
21473    -19.02      29.15  ...       5.0     4.0     9.0     6.0     9.0
21474    -19.02      29.15  ...      18.0    14.0    17.0    14.0    15.0
21475    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0
21476    -19.02      29.15  ...       0.0     0.0     0.0     0.0     0.0

        Y2009   Y2010   Y2011  Y2012  Y2013
0      4538.0  4605.0  4711.0   4810   4895
1       415.0   442.0   476.0    425    422
2       379.0   315.0   203.0    367    360
3        55.0    60.0    72.0     78     89
4       195.0   178.0   191.0    200    200
5        71.0    82.0    73.0     77     76
6        18.0    14.0    14.0     14     12
7         0.0     0.0     0.0      0      0
8       250.0   192.0   169.0    196    230
9       114.0    83.0    83.0     69     81
10        0.0     0.0     0.0      0      0
11      231.0   240.0   240.0    250    255
12        2.0     9.0    21.0     24     16
13        3.0     3.0     2.0      2      2
14        5.0     4.0     5.0      4      4
15       80.0    66.0    81.0     63     74
16       28.0    66.0    71.0     70     44
17        0.0     0.0     0.0      0      0
18       16.0    19.0    17.0     16     16
19        3.0     2.0     2.0      2      2
20        6.0    15.0    16.0     16     16
21        0.0     0.0     0.0      0      0
22        8.0    15.0    16.0     17     23
23        6.0     1.0     2.0      2      2
24        4.0     3.0     3.0      3      4
25       53.0    59.0    51.0     61     64
26        1.0     1.0     2.0      1      1
27        1.0     1.0     1.0      1      1
28        1.0     2.0     2.0      2      2
29        0.0     0.0     0.0      0      0
...       ...     ...     ...    ...    ...
21447     0.0     0.0     0.0      0      0
21448     0.0     0.0     0.0      0      0
21449     0.0     1.0     0.0      0      0
21450     0.0     0.0     0.0      0      0
21451     0.0     0.0     0.0      0      0
21452    62.0    55.0    55.0     55     55
21453  1980.0  2011.0  2094.0   2071   2016
21454   258.0   258.0   269.0    272    276
21455     0.0     0.0     0.0      0      0
21456   287.0   314.0   336.0    396    416
21457    78.0    68.0    56.0     52     55
21458     3.0     4.0     2.0      4      3
21459    19.0    24.0    17.0     27     30
21460    44.0    41.0    40.0     38     38
21461   135.0   137.0   147.0    159    160
21462   179.0   215.0   217.0    227    227
21463   184.0   211.0   230.0    246    217
21464    11.0    23.0    11.0     10     10
21465    16.0    14.0    11.0     12     12
21466   437.0   448.0   476.0    525    516
21467   265.0   262.0   277.0    280    258
21468    21.0    21.0    21.0     22     22
21469    31.0    30.0    25.0     26     20
21470    27.0    27.0    24.0     24     25
21471    23.0    25.0    25.0     30     31
21472   385.0   418.0   457.0    426    451
21473     5.0    15.0    15.0     15     15
21474    18.0    29.0    40.0     40     40
21475     0.0     0.0     0.0      0      0
21476     0.0     0.0     0.0      0      0

[21477 rows x 63 columns]

<strong>What is your strategies to find the outliers of the data?  What type of visualization is the most suitable to find outliers?<strong>

The strategies used to find outliers in the dataset is by using data visualization. Data visualization help to identify the outliers by projecting a different out of the dataset based data which will be needed on preprocessing stage to clean the unwanted data such as the outlier mentioned. 

The most suitable type of visualization to find outliers is boxplot because the boxplot will have a static max and min range and whatever goes beyond it considered as outlier data.

<strong>Compare between food and feed consumption. Explain your strategies (the steps that you are going to do).

</strong>

<strong>Food</strong>  - Total amount of the food item available as human food.
    <br>
<strong>Feed</strong> -   Total food item available for feeding to the livestock and poultry 

<strong>Steps</strong>
    - Separating the element between Food and Feed
    - Observe the item used for food and feed 
    - Analyze the usage of Elements based on the years of distribution

<strong>Section 2</strong>

In [9]:
import matplotlib.pyplot as plt
import numpy as np

In [68]:
data = fao[['Element','Y2013']]
data.head()

  Element  Y2013
0    Food   4895
1    Food    422
2    Feed    360
3    Food     89
4    Feed    200

In [54]:
Food_fao = fao[fao['Element'] == 'Food']

In [55]:
Food_fao.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
5,AFG,2,Afghanistan,2514,Maize and products,5142,Food,1000 tonnes,33.94,67.71,...,231.0,67.0,82.0,67.0,69.0,71.0,82.0,73.0,77,76
6,AFG,2,Afghanistan,2517,Millet and products,5142,Food,1000 tonnes,33.94,67.71,...,15.0,21.0,11.0,19.0,21.0,18.0,14.0,14.0,14,12

In [56]:
Feed_fao = fao[fao['Element'] == 'Feed']

In [57]:
Feed_fao.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
9,AFG,2,Afghanistan,2536,Sugar cane,5521,Feed,1000 tonnes,33.94,67.71,...,50.0,29.0,61.0,65.0,54.0,114.0,83.0,83.0,69,81
10,AFG,2,Afghanistan,2537,Sugar beet,5521,Feed,1000 tonnes,33.94,67.71,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
14,AFG,2,Afghanistan,2549,"Pulses, Other and products",5521,Feed,1000 tonnes,33.94,67.71,...,3.0,2.0,3.0,3.0,3.0,5.0,4.0,5.0,4,4

In [20]:
fao['Item']

0                  Wheat and products
1            Rice (Milled Equivalent)
2                 Barley and products
3                 Barley and products
4                  Maize and products
5                  Maize and products
6                 Millet and products
7                      Cereals, Other
8               Potatoes and products
9                          Sugar cane
10                         Sugar beet
11             Sugar (Raw Equivalent)
12                  Sweeteners, Other
13                              Honey
14         Pulses, Other and products
15         Pulses, Other and products
16                  Nuts and products
17              Coconuts - Incl Copra
18                        Sesame seed
19       Olives (including preserved)
20                       Soyabean Oil
21                      Groundnut Oil
22                  Sunflowerseed Oil
23               Rape and Mustard Oil
24                     Cottonseed Oil
25                           Palm Oil
26                     Sesameseed Oil
27                          Olive Oil
28                Oilcrops Oil, Other
29              Tomatoes and products
                     ...
21447                     Crustaceans
21448                     Cephalopods
21449                 Molluscs, Other
21450                  Aquatic Plants
21451                     Infant food
21452        Cereals - Excluding Beer
21453        Cereals - Excluding Beer
21454                   Starchy Roots
21455                     Sugar Crops
21456              Sugar & Sweeteners
21457                          Pulses
21458                        Treenuts
21459                        Oilcrops
21460                        Oilcrops
21461                  Vegetable Oils
21462                      Vegetables
21463         Fruits - Excluding Wine
21464                      Stimulants
21465                          Spices
21466             Alcoholic Beverages
21467                            Meat
21468                          Offals
21469                     Animal fats
21470                            Eggs
21471         Milk - Excluding Butter
21472         Milk - Excluding Butter
21473                   Fish, Seafood
21474                   Fish, Seafood
21475         Aquatic Products, Other
21476                   Miscellaneous
Name: Item, Length: 21477, dtype: object